<template>
  <div>
    <h1>{{ msg }},学生姓名是 {{ studentName }}</h1>
    <!-- 通过父组件给子组件传递函数类型的 props ，实现子组件给父组件传递数据。 -->
    <School :getSchoolName="getSchoolName"/>

    <!-- 通过父组件给子组件绑定一个自定义事件，实现子组件给父组件传递数据。第一种写法：使用 v-on 或 @ -->
    <!--<Student v-on:demo="getStudentName"/>-->

    <!--  通过父组件给子组件绑定一个自定义事件，实现子组件给父组件传递数据。第二种写法：使用 ref  -->
    <Student ref="student" @click.native="show"/>
  </div>
</template>

<script>
import School from '@/components/School';
import Student from '@/components/Student';

export default {
  name: 'App',
  data() {
    return {
      msg: '你好啊',
      studentName: ''
    };
  },
  methods: {
    getSchoolName(name) {
      console.log('App收到了学校的名称：', name);
    },
    // getStudentName(name) {
    //   console.log('App收到了学生的姓名：', name);
    //   this.studentName = name;
    // }
    show() {
      alert('show');
    }
  },
  mounted() {
    // 绑定自定义事件
    this.$refs.student.$on('demo', (name) => {
      this.studentName = name;
    });
    // 绑定自定义事件一次性
    // this.$refs.student.$once('demo', this.getStudentName);
  },
  components: {
    School,
    Student
  }
};
</script>

<style>
</style>
