<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>VUe数据监测数据变化</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h2>学生信息</h2>
        <button @click="student.age ++">年龄+1岁</button>
        <br>
        <button @click.once="addSex">添加性别属性，默认值为男</button>
        <br>
        <button @click.once="addFriend">在列表首位添加一个朋友</button>
        <br>
        <button @click="modifyFirstFriendName">修改第一个朋友的名字为：张三</button>
        <br>
        <button @click="student.hobby.push('打豆豆')">添加一个爱好</button>
        <br>
        <button @click="student.hobby.splice(0,1,'开车')">修改第一个爱好为：开车</button>
        <br>
        <h3>姓名：{{student.name}}</h3>
        <h3>年龄：{{student.age}}</h3>
        <h3 v-if="student.sex">性别：{{student.sex}}</h3>
        <h3>爱好</h3>
        <ul>
            <li :key="index" v-for="(h,index) in student.hobby">
                {{h}}
            </li>
        </ul>
        <h3>朋友：</h3>
        <ul>
            <li :key="f.id" v-for="(f) in student.friends">
                {{f.name}} -- {{f.age}}
            </li>
        </ul>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                student: {
                    name: 'tom',
                    age: 18,
                    hobby: ['抽烟', '喝酒', '烫头'],
                    friends: [
                        {id: '001', name: 'jerry', age: 20},
                        {id: '002', name: 'tony', age: 25},
                    ]
                }
            },
            methods: {
                addSex() { // 添加性别属性
                    Vue.set(this.student, 'sex', '男');
                },
                addFriend() { // 添加朋友
                    this.student.friends.unshift({id: '000', name: 'marry', age: 16});
                },
                modifyFirstFriendName() { // 修改第一个朋友的名字为：张三
                    this.student.friends[0].name = '张三';
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>