<template>
  <div>
    <h2>学生姓名：{{ name }}</h2>
    <h2>学生年龄：{{ age }}</h2>
    <button @click="sendStudentName">将学生姓名给 School 组件</button>
  </div>
</template>

<script>
import PubSub from 'pubsub-js';

export default {
  name: 'Student',
  data() {
    return {
      name: '许大仙',
      age: 18
    };
  },
  methods: {
    sendStudentName() {
      PubSub.publish('SENT_NAME', this.name);
    }
  }
};
</script>

<style scoped>

</style>