<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>天气案例--监视属性</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h2>今天天气很{{info}} </h2>
        <!-- @xxx="yyy"，其中 yyy 可以写一些简单的语句 -->
        <button @click="isHot = !isHot">切换天气</button>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                isHot: true
            },
            methods: {},
            computed: {
                info() {
                    return this.isHot ? '炎热' : '凉爽';
                }
            },
            watch: {
                isHot: {
                    // 初始化的时候让 handler 调用一下
                    immediate: true,
                    // handler 什么时候调用？当 isHot 发生改变的时候
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                    }
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>