<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>天气案例--监视属性--深度监视.html</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h2>今天天气很{{info}} </h2>
        <!-- @xxx="yyy"，其中 yyy 可以写一些简单的语句 -->
        <button @click="isHot = !isHot">切换天气</button>
        <hr>
        <h3>a的值是 {{numbers.a}}</h3>
        <button @click="numbers.a++">点我让 a+1</button>
        <h3>b的值是 {{numbers.b}}</h3>
        <button @click="numbers.b++">点我让 b+1</button>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                isHot: true,
                numbers: {
                    a: 1,
                    b: 1
                }
            },
            methods: {},
            computed: {
                info() {
                    return this.isHot ? '炎热' : '凉爽';
                }
            },
            watch: {
                isHot: {
                    // 初始化的时候让 handler 调用一下
                    // immediate: true,
                    // handler 什么时候调用？当 isHot 发生改变的时候
                    handler(newValue, oldValue) {
                        console.log(newValue, oldValue);
                    }
                },
                // 监视多级结构中某个属性的变化
                'numbers.a': {
                    handler(newValue, oldValue) {
                        console.log('a变化了', newValue, oldValue);
                    }
                },
                // 监视多级结构中所有属性的变化
                numbers: {
                    // 开启深度监视
                    deep: true,
                    handler(newValue, oldValue) {
                        console.log('numbers中的属性内部的值变化了', newValue, oldValue);
                    }
                }

            }
        });
    </script>
</body>
</html>