<template>
  <Demo/>
</template>

<script>
import Demo from '@/components/Demo';

export default {
  name: 'App',
  components: {
    Demo
  },
  setup() {
    return {};
  }
};
</script>

<style>

</style>
