<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>列表排序</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h2>人员列表</h2>
        <input placeholder="请输入姓名" type="text" v-model="keyword">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li :key="p.id" v-for="(p) in fmtPersons">
                {{p.name}} - {{p.age}} -{{p.sex}}
            </li>
        </ul>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                keyword: '',
                persons: [
                    {id: '001', name: '马冬梅', age: 35, sex: '女'},
                    {id: '002', name: '周冬雨', age: 20, sex: '女'},
                    {id: '003', name: '周杰伦', age: 18, sex: '男'},
                    {id: '004', name: '温兆伦', age: 46, sex: '男'},
                ],
                sortType: 0 // 0 原顺序；2 升序；1 降序
            },
            computed: {
                fmtPersons() {
                    let {keyword, persons, sortType} = this;
                    const fmtPersons = persons.filter(item => item.name.indexOf(keyword) !== -1);
                    // 判断是否排序
                    if (sortType) {
                        fmtPersons.sort((a, b) => (sortType === 2) ? (a.age - b.age) : (b.age - a.age));
                    }
                    return fmtPersons;
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>