<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- 准备好容器 -->
    <ul id="list">
        <li v-for="p in persons">
            {{p.id}} -- {{p.name}} -- {{p.age}}
        </li>
    </ul>

    <script>
        const persons = [
            {id: '001', name: '张三', age: 18},
            {id: '002', name: '李四', age: 19},
            {id: '003', name: '王五', age: 20},
        ];
        new Vue({
            el: '#list',
            data: {
                persons
            }
        });
    </script>
</body>
</html>