<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>指令语法</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!--
        Vue 中的模板语法有两大类：
            ① 插值语法：
                作用：用于解析标签体内容。
                写法：{{xxx}} ，其中 xxx 是 JS 表达式，可以读取到 data 中的所有属性。
            ② 指令语法：
                作用：用于解析标签体内容、标签属性、绑定事件等。
                写法：v-bind:href="xxx" 或 :href="xxx"，xxx 同样需要写 JS 表达式。
                备注：Vue 中有许多指令语法，且形式都是 v-??? 的形式，此处的 v-bind 只是举例而已。
    -->

    <!-- 准备好容器 -->
    <div id="root">
        <h1>指令语法</h1>
        <a v-bind:href="url.toUpperCase()" v-bind:x="hello">百度1</a>
        <a :href="url" :x="hello">百度2</a>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        new Vue({
            el: '#root',
            data: {
                hello: '你好',
                url: 'https://www.baidu.com'
            }
        });
    </script>
</body>
</html>