<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <!-- ③ 使用组件标签 -->
        <xuexiao></xuexiao>
        <hr>
        <!-- ③ 使用组件标签 -->
        <xuesheng></xuesheng>
    </div>

    <div id="root2">
        <!-- ③ 使用组件标签 -->
        <hello></hello>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;
        // ① 创建 school 组件
        // 组件定义的时候，一定不要写 el 配置项，因为最终所有的组件都要被 vm 管理，由 vm 决定服务于那个容器。
        const school = Vue.extend({
            template: `
              <div>
              <h2>学校名称：{{ name }}</h2>
              <h2>学校地址：{{ address }}</h2>
              </div>
            `,
            data() { // 之所以写成函数，是为了每次调用的时候都返回一个新的对象
                return {
                    name: '苏州大学',
                    address: '江苏省苏州市工业园区仁爱路199号',
                };
            }
        });
        // ① 创建 student 组件
        const student = Vue.extend({
            template: `
              <div>
              <h2>学生姓名：{{ name }}</h2>
              <h2>学生年龄：{{ age }}</h2>
              </div>
            `,
            data() { // 之所以写成函数，是为了每次调用的时候都返回一个新的对象
                return {
                    name: '许大仙',
                    age: 18
                };
            }
        });
        // ① 创建 hello 组件
        const hello = Vue.extend({
            template: `
              <div>
              <h2>你好啊，{{ name }}</h2>
              </div>
            `,
            data() {
                return {
                    name: '许大仙'
                };
            }
        });
        // ② 注册组件（全局注册）
        Vue.component('hello', hello);

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            components: { // ② 注册组件（局部注册）
                xuexiao: school,
                xuesheng: student
            }
        });
        console.log(vm);

        const vm2 = new Vue({
            el: '#root2'
        });
        console.log(vm2);
    </script>
</body>
</html>