<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备一个容器 -->
    <div id="root">
        <school></school>
        <hello></hello>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;
        // 创建组件
        const school = Vue.extend({
            name: 'School',
            template: `
              <div>
              <h2>学校名称：{{ name }}</h2>
              <h2>学校地址：{{ address }}</h2>
              </div>
            `,
            data() {
                return {
                    name: '苏州大学',
                    address: '江苏省苏州市工业园区仁爱路199号',
                };
            }
        });

        const hello = Vue.extend({
            name: 'Hello',
            template: `<h2>{{ msg }}</h2>`,
            data() {
                return {
                    msg: '你好啊'
                };
            }
        });

        console.log('school', school);
        console.log('hello', hello);

        console.log(school === hello); // false

        const vm = new Vue({
            el: '#root',
            components: {
                school,
                hello
            }
        });
        console.log('vm', vm);

    </script>
</body>
</html>