<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h1>大家好，我是 {{name}}</h1>
        <button v-on:click="showInfo">点我提示信息</button>
        <!-- 简写形式 -->
        <button @click="showInfo">点我提示信息</button>
        <!-- 传参 -->
        <button @click="showInfo2(66,$event)">点我提示信息2</button>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                name: '许大仙'
            },
            methods: {
                showInfo(event) {
                    console.log(event.target);
                    console.log(this === vm); // 此处的 this 是 vm
                    alert('我是谁？我在哪里？我在做什么？');
                },
                showInfo2(number, event) {
                    console.log(number);
                    console.log(event);
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>