<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h1>大家好，我是 {{name}}</h1>
        <a @click="showInfo" href="https://www.baidu.com">点我提示信息</a>
        <!-- 事件修饰符 -->
        <a @click.prevent="showInfo2" href="https://www.baidu.com">点我提示信息</a>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                name: '许大仙'
            },
            methods: {
                showInfo(event) {
                    // 阻止默认行为
                    event.preventDefault();
                    alert('我是谁？我在哪里？我在做什么？');
                },
                showInfo2() {
                    alert('我是谁？我在哪里？我在做什么？');
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>