<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>初识Vue</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!--
    初识 Vue ：
        ① 想让 Vue 工作，必须先创建一个 Vue 实例，且需要传入一个配置对象。
        ② root 容器中的代码依然符合 HTML 规范，只不过混合了一些特殊的 Vue 语法。
        ③ root 容器中的代码被称为 Vue 模板。
    -->

    <!--
    注意区别 JS 表达式和 JS 代码：
        ① 表达式：一个表达式会生成一个值，可以放在任何一个需要值的地方。
           1) a
           2) a+b
           3) demo(1)
           4) x === y? 'a' : 'b'
        ② JS 代码（语句）：
           1) if 语句
           2) while 语句
    -->

    <!-- 准备好容器 -->
    <div id="root">
        <!-- 插值语法 -->
        <h1>你好，{{school}}！！！</h1>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root', // el 用于指定当前 Vue 实例为哪个容器服务，值通常为 CSS 选择器字符串。
            data: { // data 中用于存储数据，数据供 el 所指定的容器使用。值暂时先写成对象的形式。相当于 React 中的 state 。
                school: '苏州大学'
            }
        });
        console.log(vm);
    </script>
</body>
</html>