<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>内置指令</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <div v-cloak>你好，{{name}}</div>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                name: '许大仙',
            },
            methods: {}
        });
        console.log(vm);
    </script>
</body>
</html>