<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MVVM模型</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!--
        MVVM的理解：
            M：模型（Model），对应 data 中的数据。
            V：视图（View），模板代码。
            VM：视图模型（ViewModel），Vue 实例对象。
        观察发现：
            ① data 中的所有属性，最后都出现在 vm 身上。
            ② vm 身上所有的属性及 Vue 原型上的所有属性，在 Vue 模板中都可以使用。
    -->

    <!-- 准备好容器 -->
    <div id="root">
        <h1>学校名称：{{name}}</h1>
        <h1>学校名称：{{address}}</h1>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                name: '苏州大学',
                address: '江苏省苏州市工业园区仁爱路199号'
            }
        });
        console.log(vm);
        // 观察发现，通过 vm 能看到 data 中的属性（注意不是看到 data ）
        setTimeout(() => {
            vm.name = '清华大学';
            vm.address = '中国北京市海淀区蓝旗营双清路30号';
        }, 1000);
    </script>
</body>
</html>