<template>
  <div>
    <img alt="Vue logo" src="@/assets/logo.png">
    <Student/>
    <School/>
  </div>
</template>

<script>
import School from '@/components/School';
import Student from '@/components/Student';

export default {
  name: 'App',
  components: {
    School,
    Student
  }
};
</script>

<style>
</style>
