<template>
  <li>
    <label>
      <input :checked="todo.done" type="checkbox" @click="handleCheck(todo.id)"/>
      <span>{{ todo.name }}</span>
    </label>
    <button class="btn btn-danger" @click="remove(todo.id)">删除</button>
  </li>
</template>

<script>
export default {
  name: 'Item',
  props: ['todo', 'deleteTodo', 'checkTodo'],
  methods: {
    remove(id) {
      this.deleteTodo(id);
    },
    handleCheck(id) {
      this.checkTodo(id);
    }

  }
};
</script>

<style lang="less" scoped>
li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

li label {
  float: left;
  cursor: pointer;
}

li label li input {
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

li button {
  float: right;
  //display: none;
  margin-top: 3px;
}

li:before {
  content: initial;
}

li:last-child {
  border-bottom: none;
}

</style>