<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>data的两种写法</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <h3>你好啊 {{name}}</h3>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            /*data: { // 第一种写法：对象式
                name: '许大仙'
            }*/
            data() { // 第二种写法：函数式
                console.log(this); // 此处的 this 是 Vue 实例对象
                return {
                    name: '许大仙'
                };
            }
        });
        console.log(vm);

    </script>
</body>
</html>